<div class="card-header">
    <h6 id="title">Age</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="ageForm" (ngSubmit)="onSubmit()">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="age">Confirm age*</label>
                                    <select id="age" name="age" class="form-control" formControlName="age"
                                        [ngClass]="{ 'error': isInvalid('age') }">
                                        <option id="neonate" value="Neonate">Neonate (0-28 days)</option>
                                        <option id="child" value="Child">Child (4 weeks up till 16th birthday</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    <pre *ngIf="auth.userProfile$ | async as profile">
                                        <code>
                                            <input type="signature" id="signature" name="signature"
                                                    class="form-control" formControlName="signature" 
                                                    [ngModel]="profile.name | json" value="{{ profile.name | json }}"
                                                    readonly >
                                        </code>
                                    </pre>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    <input type="signature" id="signature" name="signature" class="form-control"
                                        formControlName="signature">

                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <span class="font-weight-bold" *ngIf="isIncomplete()">
                    You must complete all required (*) fields
                    <hr>
                </span>
                <button id="submit" *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="sticky">
    <div class="card-header">
        <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" id="return" role="button">Return to Patient</a>
    </div>
</div>