<div class="card-header">
    <h6>Stop Treatment</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12" *ngFor="let fluidChoice of webService.oneFluidChoice_list | async">
            <form [formGroup]="choiceForm" (ngSubmit)="onSubmit()">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>

                                <div class="form-group">
                                    Treatment: {{fluidChoice.continue}}
                                    <hr>
                                    ElectrolytesAvailable: {{ fluidChoice.electrolytesAvailable }}
                                    <hr>
                                    SerumSodiumRange: {{ fluidChoice.serumSodiumRange }}
                                    <hr>
                                    SerumPotasiumRange: {{ fluidChoice.serumPotasiumRange }}
                                    <hr>
                                    TimeStamp: {{ fluidChoice.timeStamp }}
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    IvFluidType: {{ fluidChoice.ivFluidType }}
                                    <hr>
                                    IvFluidVolume: {{ fluidChoice.ivFluidVolume }}
                                    <hr>
                                    IvFluidVolumeComment: {{ fluidChoice.ivFluidVolumeComment }}
                                    <hr>
                                    SampleObtained: {{ fluidChoice.sampleObtained }}
                                    <hr>
                                    User: {{ fluidChoice.user }}
                                </div>

                            </th>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <label class="font-weight-bold" for="signature">Signature*</label>
                    <pre *ngIf="auth.userProfile$ | async as profile">
                        <code>
                            <input type="signature" id="signature" name="signature"
                                    class="form-control" formControlName="signature" 
                                    [ngModel]="profile.name | json" value="{{ profile.name | json }}"
                                    readonly >
                        </code>
                    </pre>
                </div>

                <button id="discontinueButton" type="submit"
                    class="btn btn-primary">Discontinue</button>
            </form>
        </div>
    </div>
</div>

<div class="sticky">
    <div class="card-header">
        <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>