<div class="card-header">
    <h6 id="title" >Fluid Output</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="fluidOutputForm" (ngSubmit)="onSubmit()">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="fluidOutput">Fluid Output*</label>
                                    <select id="fluidOutput" name="fluidOutput" class="form-control"
                                        formControlName="fluidOutput" [ngClass]="{ 'error': isInvalid('fluidOutput') }">
                                        <option id="fo0" value="Urine">Urine</option>
                                        <option id="fo1" value="Faeces">Faeces</option>
                                        <option id="fo2" value="Gastric">Gastric</option>
                                        <option id="fo3" value="Drain">Drain</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold" for="volOutput">Volume Output*</label>
                                    <input type="volOutput" id="volOutput" autocomplete="off" pattern="[0-9]+"
                                        name="volOutput" class="form-control" formControlName="volOutput"
                                        [ngClass]="{ 'error': isInvalid('volOutput') }">
                                </div>

                                <div class="form-group" *ngIf="auth.loggedIn">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    <pre *ngIf="auth.userProfile$ | async as profile">
                                        <code>
                                            <input type="signature" id="signature" name="signature"
                                                    class="form-control" formControlName="signature" 
                                                    [ngModel]="profile.name | json" value="{{ profile.name | json }}"
                                                    readonly >
                                        </code>
                                    </pre>
                                </div>
                                <div class="form-group" *ngIf="!auth.loggedIn">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                            <input type="signature" id="signature" name="signature"
                                                    class="form-control" formControlName="signature" >
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <span id="noSubmit"  class="font-weight-bold" *ngIf="isIncomplete()">
                    You must complete all required (*) fields
                    <hr>
                </span>
                <button id="submit" *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

<div class="sticky">
    <div class="card-header">
        <a id="return" *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>