<div class="card-header">
    <h6>Fluid Balance</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>

<div *ngIf="chartReady">
    <div style="display: block">
        <canvas id="pichart" baseChart [datasets]="barChartDatapi" [labels]="barChartLabelspi" 
             [chartType]="barChartTypepi">
        </canvas>
    </div>
</div>

<div *ngIf="chartReady">
    <div style="display: block">
        <canvas id="chart" baseChart [datasets]="barChartData" [labels]="barChartLabels" 
             [chartType]="barChartType">
        </canvas>
    </div>
</div>

<div class="card-header">
    <form [formGroup]="fluidBalanceForm" (ngSubmit)="onSubmit()">
        <button type="submit" class="btn btn-primary">Calculate Balance</button>
    </form>
</div>

<div class="table-responsive">
    <table class="table text-center">
        <tr>
            <th>TotalVolInput</th>
            <th>TotalVolOutput</th>
            <th>CurrentBalance</th>
        </tr>
        <tr *ngFor="let patient of webService.patient_list | async">
            <td id="input">{{ patient.addBalance }}</td>
            <td id="output">{{ patient.delBalance }}</td>
            <td id="balance">{{ patient.balance }}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table text-center">
        <tr>
            <th>Fluid Input Type</th>
            <th>Fluid Volume</th>
            <th>Timestamp</th>
            <th>User</th>
        </tr>
        <tr *ngFor="let fluidInput of webService.fluidInput_list | async">
            <td>{{ fluidInput.fluidInput }}</td>
            <td>{{ fluidInput.volInput }}</td>
            <td>{{ fluidInput.timeStamp }}</td>
            <td>{{ fluidInput.user }}</td>
        </tr>
        <tr *ngFor="let patient of webService.patient_list | async">
            <td>Total</td>
            <td>{{ patient.addBalance }}</td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table text-center">
        <tr>
            <th>Fluid Output Type</th>
            <th>Fluid Volume</th>
            <th>Timestamp</th>
            <th>User</th>
        </tr>
        <tr *ngFor="let fluidOutput of webService.fluidOutput_list | async">
            <td>{{ fluidOutput.fluidOutput }}</td>
            <td>{{ fluidOutput.volOutput }}</td>
            <td>{{ fluidOutput.timeStamp }}</td>
            <td>{{ fluidOutput.user }}</td>
        </tr>
        <tr *ngFor="let patient of webService.patient_list | async">
            <td>Total</td>
            <td>{{ patient.delBalance }}</td>
        </tr>
    </table>
</div>

<div class="sticky">
    <div class="card-header">
        <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>