<div class="jumbotron">
    <h5>Fluid Balance</h5>
    <div *ngFor="let patient of webService.patient_list | async">
            <h6>HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}</h6>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="fluidBalanceForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="fluidInput">Fluid Input*</label>
                    <select id="fluidInput" name="fluidInput" class="form-control" formControlName="fluidInput"
                        [ngClass]="{ 'error': isInvalid('fluidInput') }">
                        <option value="Oral Intake">Oral Intake</option>
                        <option value="Jejunal Feed">Jejunal Feed</option>
                        <option value="Naso-gastric Feed">Naso-gastric Feed</option>
                        <option value="PEG Feed">PEG Feed</option>
                        <option value="Intravenous 1">Intravenous 1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="volInput">Volume Input*</label>
                    <input type="volInput" id="volInput" autocomplete="off" pattern="[0-9]+" name="volInput"
                        class="form-control" formControlName="volInput" [ngClass]="{ 'error': isInvalid('volInput') }">
                </div>

                <div class="form-group">
                    <label for="fluidOutput">Fluid Output*</label>
                    <select id="fluidOutput" name="fluidOutput" class="form-control" formControlName="fluidOutput"
                        [ngClass]="{ 'error': isInvalid('fluidOutput') }">
                        <option value="Urine">Urine</option>
                        <option value="Faeces">Faeces</option>
                        <option value="Gastric">Gastric</option>
                        <option value="Drain">Drain</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="volOutput">Volume Output*</label>
                    <input type="volOutput" id="volOutput" autocomplete="off" pattern="[0-9]+" name="volOutput"
                        class="form-control" formControlName="volOutput"
                        [ngClass]="{ 'error': isInvalid('volOutput') }">
                </div>

                <span *ngIf="isIncomplete()">
                    You must complete all required (*) fields
                    <hr>
                </span>
                <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>