<div class="card-header">
    <h6>Fluid Input</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="fluidInputForm" (ngSubmit)="onSubmit()">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="fluidInput">Fluid Input*</label>
                                    <select id="fluidInput" name="fluidInput" class="form-control"
                                        formControlName="fluidInput" [ngClass]="{ 'error': isInvalid('fluidInput') }">
                                        <option value="Oral Intake">Oral Intake</option>
                                        <option value="Jejunal Feed">Jejunal Feed</option>
                                        <option value="Naso-gastric Feed">Naso-gastric Feed</option>
                                        <option value="PEG Feed">PEG Feed</option>
                                        <option value="Intravenous 1">Intravenous 1</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold" for="volInput">Volume Input*</label>
                                    <input type="volInput" id="volInput" autocomplete="off" pattern="[0-9]+"
                                        name="volInput" class="form-control" formControlName="volInput"
                                        [ngClass]="{ 'error': isInvalid('volInput') }">
                                </div>

                                <div class="form-group">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    <pre *ngIf="auth.userProfile$ | async as profile">
                                        <code>
                                            <input type="signature" id="signature" name="signature" class="form-control"
                                        formControlName="signature" [ngModel]="profile.name | json" value="{{ profile.name | json }}" readonly >
                                    </code>
                                </pre>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <span class="font-weight-bold" *ngIf="isIncomplete()">
                    You must complete all required (*) fields
                    <hr>
                </span>
                <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

<div class="sticky">
    <div class="card-header">
        <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>