<div class="navbar navbar-expand-sm bg-primary
 navbar-dark fixed-top">
    <span class="navbar-brand">Fluid Monitoring Tool</span>
    <ul class="navbar-nav">
        <!-- *ngIf="authService.loggedIn"  -->
        <li class="nav-item">
            <a class="nav-link" routerLink='/'>Home</a>
        </li>
        <!-- *ngIf="authService.loggedIn"  -->
        <li class="nav-item">
            <a class="nav-link" routerLink='/patients'>Patient List</a>
        </li>
    </ul>

    <button *ngIf="!authService.loggedIn" class="btn btn-outline-light" (click)="authService.login()">
        Log In</button>
    <button *ngIf="authService.loggedIn" class="btn btn-outline-light" (click)="authService.logout()">
        Log Out</button>


</div>