<div class="jumbotron">
    <h5>Patient Details</h5>
    <div *ngFor="let patient of webService.patient_list | async">
        <h6>HSCNumber: {{patient.hscNumber}}</h6>
        <h6>Name: {{patient.name}}</h6>
        <h6>DOB: {{patient.dob}}</h6>
        <h6 id="prevdate">Last Assessment: {{patient.lastCheck}}</h6>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <button (click)="Update()" >Time since last assessment:</button>
        <div id="countdown"></div>
    </div>
</div>

<div id="space">
    <hr>
</div>

<div class="card">
    <div class="card-header">
        Make New Assessment
    </div>
    <div class="card text-center">
        <div class="card-body">
            <a *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id, 'age']"
                class="btn btn-primary" role="button">Age</a>
            <a *ngFor="let patient of webService.patient_list | async"
                [routerLink]="['/patient', patient._id, 'fluidCalculator']" class="btn btn-primary" role="button">Fluid
                Calculator</a>
            <a *ngFor="let patient of webService.patient_list | async"
                [routerLink]="['/patient', patient._id, 'fluidChoice']" class="btn btn-primary" role="button">Fluid
                Choice</a>
            <a *ngFor="let patient of webService.patient_list | async"
                [routerLink]="['/patient', patient._id, 'fluidBalance']" class="btn btn-primary" role="button">Fluid
                Balance</a>
            <a *ngFor="let patient of webService.patient_list | async"
                [routerLink]="['/patient', patient._id, 'otherAssessments']" class="btn btn-primary" role="button">Other
                Assessments</a>
            <a *ngFor="let patient of webService.patient_list | async"
                [routerLink]="['/patient', patient._id, 'recordBloodSugar']" class="btn btn-primary"
                role="button">Record
                Blood Sugar</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Review Assessments
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Age Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>Age</th>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th></th>
                </tr>
                <tr *ngFor="let age of webService.age_list | async">
                    <td>{{ age.age }}</td>
                    <td>{{ age.timeStamp }}</td>
                    <td>{{age.user}}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Fluid Calculator Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>Weight</th>
                    <th>Measurement</th>
                    <th>UeAvailable</th>
                    <th>ReasonIvFluids</th>
                    <th>CommentIv</th>
                    <th>Dehydration</th>
                    <th>FluidBolus</th>
                    <th>Amount</th>
                    <th>CommentAmount</th>
                    <th>PercentageDehydration</th>
                    <th>24hrPeriod</th>
                    <th>48hrPeriod</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                </tr>
                <tr *ngFor="let fluidCalculator of webService.fluidCalculator_list | async">
                    <td>{{ fluidCalculator.weight }}kg</td>
                    <td>{{ fluidCalculator.measurement }}</td>
                    <td>{{ fluidCalculator.ueAvailable }}</td>
                    <td>{{ fluidCalculator.reasonIvFluids }}</td>
                    <td>{{ fluidCalculator.commentIv }}</td>
                    <td>{{ fluidCalculator.dehydration }}</td>
                    <td>{{ fluidCalculator.fluidBolus }}</td>
                    <td>{{ fluidCalculator.amount }}</td>
                    <td>{{ fluidCalculator.commentAmount }}</td>
                    <td>{{ fluidCalculator.percentageDehydration }}</td>
                    <td>{{ fluidCalculator.twentyfourhrPeriod }}</td>
                    <td>{{ fluidCalculator.fourtyeighthrPeriod }}</td>
                    <td>{{ fluidCalculator.timeStamp }}</td>
                    <td>{{ fluidCalculator.user }}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Fluid Choice Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>ElectrolytesAvailable</th>
                    <th>SerumSodiumRange</th>
                    <th>SerumPotasiumRange</th>
                    <th>IvFluidType</th>
                    <th>IvFluidVolume</th>
                    <th>IvFluidVolumeComment</th>
                    <th>SampleObtained</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                </tr>
                <tr *ngFor="let fluidChoice of webService.fluidChoice_list | async">
                    <td>{{ fluidChoice.electrolytesAvailable }}</td>
                    <td>{{ fluidChoice.serumSodiumRange }}</td>
                    <td>{{ fluidChoice.serumPotasiumRange }}</td>
                    <td>{{ fluidChoice.ivFluidType }}</td>
                    <td>{{ fluidChoice.ivFluidVolume }}</td>
                    <td>{{ fluidChoice.ivFluidVolumeComment }}</td>
                    <td>{{ fluidChoice.sampleObtained }}</td>
                    <td>{{ fluidChoice.timeStamp }}</td>
                    <td>{{ fluidChoice.user }}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Fluid Balance Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>FluidInput</th>
                    <th>VolInput</th>
                    <th>FluidOutput</th>
                    <th>VolOutput</th>
                    <th>CurrentBalance</th>
                    <th>OverallInput</th>
                    <th>OverallOutput</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                </tr>
                <tr *ngFor="let fluidBalance of webService.fluidBalance_list | async">
                    <td>{{ fluidBalance.fluidInput }}</td>
                    <td>{{ fluidBalance.volInput }}</td>
                    <td>{{ fluidBalance.fluidOutput }}</td>
                    <td>{{ fluidBalance.volOutput }}</td>
                    <td>{{ fluidBalance.currentBalance }}</td>
                    <td>{{ fluidBalance.overallInput }}</td>
                    <td>{{ fluidBalance.overallOutput }}</td>
                    <td>{{ fluidBalance.timeStamp }}</td>
                    <td>{{ fluidBalance.user }}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Other Assessments Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>VipScore</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                </tr>
                <tr *ngFor="let otherAssessments of webService.otherAssessments_list | async">
                    <td>{{ otherAssessments.vipScore }}</td>
                    <td>{{ otherAssessments.timeStamp }}</td>
                    <td>{{ otherAssessments.user }}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Record Blood Sugar Review
        </mat-expansion-panel-header>
        <div class="table-responsive">
            <table class="table text-center">
                <tr>
                    <th>BloodSugarLevel</th>
                    <th>Comment</th>
                    <th>ClinicalComment</th>
                    <th>TimeStamp</th>
                    <th>User</th>
                </tr>
                <tr *ngFor="let recordBloodSugar of webService.recordBloodSugar_list | async">
                    <td>{{recordBloodSugar.bloodSugarLevel}}</td>
                    <td>{{recordBloodSugar.comment}}</td>
                    <td>{{recordBloodSugar.clinicalComment}}</td>
                    <td>{{ recordBloodSugar.timeStamp }}</td>
                    <td>{{ recordBloodSugar.user }}</td>
                </tr>
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion>