<div class="jumbotron">
    <h5>Patient List</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor="let patient of webService.patients_list | async" [routerLink]="['/patient', patient._id]"
                style="cursor: pointer">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        H&SC Number: {{patient.hscNumber}}
                    </div>
                    <div id="prevdate" class="card-body">
                        Name: {{patient.name}}
                        <hr>
                        DOB: {{patient.dob}}
                    </div>
                    <div class="card-footer">
                        Time of last Assessment: {{patient.lastCheck}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>