<div class="jumbotron">
    <h1>Patient Details</h1>
</div>
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-primary mb-3" *ngFor="let patient of webService.patient_list | async">
                <div class="card-header">
                    H&SC Number: {{patient.hscNumber}}
                </div>
                <div class="card-body">
                    Name: {{patient.name}}
                    <hr>
                    DOB: {{patient.dob}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let age of webService.age_list | async">
                <div class="card-header">
                    <strong>Age</strong>
                </div>
                <div class="card-body">
                    Age: {{ age.age }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidCalculator of webService.fluidCalculator_list | async">
                <div class="card-header">
                    <strong>Fluid Calculator</strong>
                </div>
                <div class="card-body">
                    Weight: {{ fluidCalculator.weight }}
                    <hr>
                    Measurement: {{ fluidCalculator.measurement }}
                    <hr>
                    UeAvailable: {{ fluidCalculator.ueAvailable }}
                    <hr>
                    ReasonIvFluids: {{ fluidCalculator.reasonIvFluids }}
                    <hr>
                    CommentIv: {{ fluidCalculator.commentIv }}
                    <hr>
                    Dehydration: {{ fluidCalculator.dehydration }}
                    <hr>
                    FluidBolus: {{ fluidCalculator.fluidBolus }}
                    <hr>
                    Amount: {{ fluidCalculator.amount }}
                    <hr>
                    CommentAmount: {{ fluidCalculator.commentAmount }}
                    <hr>
                    PercentageDehydration: {{ fluidCalculator.percentageDehydration }}
                     <hr>
                    24hrPeriod: {{ fluidCalculator.24hrPeriod }}
                    <hr>
                    48hrPeriod: {{ fluidCalculator.48hrPeriod }}
                    <hr>
                    TimeStamp: {{ fluidCalculator.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidChoice of webService.fluidChoice_list | async">
               <div class="card-header">
                    <strong>Fluid Choice</strong>
                </div>
                <div class="card-body">
                    ElectrolytesAvailable: {{ fluidChoice.electrolytesAvailable }}
                    <hr>
                    SerumSodiumRange: {{ fluidChoice.serumSodiumRange }}
                    <hr>
                    SerumPotasiumRange: {{ fluidChoice.serumPotasiumRange }}
                    <hr>
                    IvFluidType: {{ fluidChoice.ivFluidType }}
                    <hr>
                    IvFluidVolume: {{ fluidChoice.ivFluidVolume }}
                    <hr>
                    IvFluidVolumeComment: {{ fluidChoice.ivFluidVolumeComment }}
                    <hr>
                    TimeStamp: {{ fluidChoice.timeStamp }}
                    <hr>
                    SampleObtained: {{ fluidChoice.sampleObtained }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidBalance of webService.fluidBalance_list | async">
                <div class="card-header">
                    <strong>Fluid Balance</strong>
                </div>
                <div class="card-body">
                    FluidInput: {{ fluidBalance.fluidInput }}
                    <hr>
                    VolInput: {{ fluidBalance.volInput }}
                    <hr>
                    FluidOutput: {{ fluidBalance.fluidOutput }}
                    <hr>
                    VolOutput: {{ fluidBalance.volOutput }}
                    <hr>
                    CurrentBalance: {{ fluidBalance.currentBalance }}
                    <hr>
                    OverallInput: {{ fluidBalance.overallInput }}
                    <hr>
                    OverallOutput: {{ fluidBalance.overallOutput }}
                    <hr>
                    TimeStamp: {{ fluidBalance.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let otherAssessments of webService.otherAssessments_list | async">
                <div class="card-header">
                    <strong>OtherAssessments</strong>
                </div>
                <div class="card-body">
                    VipScore: {{ otherAssessments.vipScore }}
                    <hr>
                    TimeStamp: {{ otherAssessments.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Other Assessments</h2>
            <form [formGroup]="otherAssessmentsForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="VIP Score">VIP Score</label>
                </div>

                <div class="form-group">
                    <label for="timeStamp">Name</label>
                    <input type="timeStamp" id="timeStamp" name="timeStamp" class="form-control"
                        formControlName="timeStamp" [ngClass]="{ 'error': isInvalid('vipScore') }">
                </div>

                <div class="form-group">
                    <label for="vipScore">Please provide a VIP Score</label>
                    <select id="vipScore" name="vipScore" class="form-control" formControlName="vipScore"
                        [ngClass]="{ 'error': isInvalid('vipScore') }">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span *ngIf="isIncomplete()">
                    You must complete all fields
                    <hr>
                </span>
                <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>


<!-- 
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let recordBloodSugar of webService.recordBloodSugar_list | async">
                <div class="card-header">
                    <strong>RecordBloodSugar</strong>
                </div>
                <div class="card-body">
                    BloodSugarLevel: {{recordBloodSugar.bloodSugarLevel}}
                    <hr>
                    Comment: {{recordBloodSugar.comment}}
                    <hr>
                    ClinicalComment: {{recordBloodSugar.clinicalComment}}
                    <hr>
                    BloodSugarLevel: {{recordBloodSugar.timeStamp}}
                </div>
            </div>
        </div>
    </div>
</div> -->
