<div class="jumbotron">
    <h1>Patient Details</h1>
</div>


<!-- <div class="container">
    <div class="column">
        <div class="col-sm-12">
            <form [formGroup]="goToAge" (ngSubmit)="onAge()">
                <button type="age" class="btn btn-primary">Age</button>
            </form>
            <form [formGroup]="goToFluidCalculator" (ngSubmit)="onFluidCalculator()">
                <button type="fluidCalculator" class="btn btn-primary">Fluid Calculator</button>
            </form>
            <form [formGroup]="goToFluidChoice" (ngSubmit)="onFluidChoice()">
                <button type="fluidChoice" class="btn btn-primary">Fluid Choice</button>
            </form>
            <form [formGroup]="goToFluidBalance" (ngSubmit)="onFluidBalance()">
                <button type="fluidBalance" class="btn btn-primary">FluidBalance</button>
            </form>
            <form [formGroup]="goToOtherAssessments" (ngSubmit)="onOtherAssessments()">
                <button type="otherAssessments" class="btn btn-primary">OtherAssessments</button>
            </form>
            <form [formGroup]="goToRecordBloodSugar" (ngSubmit)="onRecordBloodSugar()">
                <button type="recordBloodSugar" class="btn btn-primary">RecordBloodSugar</button>
            </form>
        </div>
    </div>
</div> -->

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
        <div *ngFor="let patient of webService.patient_list | async" >

            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    This patient number is {{patient.hscNumber}}
                </div>
                <div class="card-body">
                    Name: {{patient.name}}
                </div>
                <div class="card-footer">
                    DOB: {{patient.dob}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



<!-- <div class="navbar navbar-expand-sm bg-primary -->
<!-- navbar-dark fixed-bottom">
    <span class="navbar-brand"><strong>Patient</strong></span>
    <ul class="navbar-nav">
        <button class="btn btn-outline-light" (click)=[routerLink]="['/patient', patient._id, 'age']">
            Confirm Age</button>
        <button class="btn btn-outline-light" (click)="">
            Fluid Calculator</button>
        <button class="btn btn-outline-light" (click)="">
            Fluid Choice</button>
        <button class="btn btn-outline-light" (click)="">
            Fluid Balance</button>
        <button class="btn btn-outline-light" (click)="">
            Other Assessments</button>
        <button class="btn btn-outline-light" (click)="">
            Record Blood Sugar</button>
    </ul>
</div>  -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let age of webService.age_list | async">
                <div class="card-header">
                    <strong>Age</strong>
                </div>
                <div class="card-body">
                    Age: {{ age.age }}
                    <br>
                    TimeStamp: {{ age.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidCalculator of webService.fluidCalculator_list | async">
                <div class="card-header">
                    <strong>Fluid Calculator</strong>
                </div>
                <div class="card-body">
                    Weight: {{ fluidCalculator.weight }}
                    <hr>
                    Measurement: {{ fluidCalculator.measurement }}
                    <hr>
                    UeAvailable: {{ fluidCalculator.ueAvailable }}
                    <hr>
                    ReasonIvFluids: {{ fluidCalculator.reasonIvFluids }}
                    <hr>
                    CommentIv: {{ fluidCalculator.commentIv }}
                    <hr>
                    Dehydration: {{ fluidCalculator.dehydration }}
                    <hr>
                    FluidBolus: {{ fluidCalculator.fluidBolus }}
                    <hr>
                    Amount: {{ fluidCalculator.amount }}
                    <hr>
                    CommentAmount: {{ fluidCalculator.commentAmount }}
                    <hr>
                    PercentageDehydration: {{ fluidCalculator.percentageDehydration }}
                    <hr>
                    24hrPeriod: {{ fluidCalculator.twentyfourhrPeriod }}
                    <hr>
                    48hrPeriod: {{ fluidCalculator.fourtyeighthrPeriod }}
                    <hr>
                    TimeStamp: {{ fluidCalculator.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidChoice of webService.fluidChoice_list | async">
                <div class="card-header">
                    <strong>Fluid Choice</strong>
                </div>
                <div class="card-body">
                    ElectrolytesAvailable: {{ fluidChoice.electrolytesAvailable }}
                    <hr>
                    SerumSodiumRange: {{ fluidChoice.serumSodiumRange }}
                    <hr>
                    SerumPotasiumRange: {{ fluidChoice.serumPotasiumRange }}
                    <hr>
                    IvFluidType: {{ fluidChoice.ivFluidType }}
                    <hr>
                    IvFluidVolume: {{ fluidChoice.ivFluidVolume }}
                    <hr>
                    IvFluidVolumeComment: {{ fluidChoice.ivFluidVolumeComment }}
                    <hr>
                    TimeStamp: {{ fluidChoice.timeStamp }}
                    <hr>
                    SampleObtained: {{ fluidChoice.sampleObtained }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let fluidBalance of webService.fluidBalance_list | async">
                <div class="card-header">
                    <strong>Fluid Balance</strong>
                </div>
                <div class="card-body">
                    FluidInput: {{ fluidBalance.fluidInput }}
                    <hr>
                    VolInput: {{ fluidBalance.volInput }}
                    <hr>
                    FluidOutput: {{ fluidBalance.fluidOutput }}
                    <hr>
                    VolOutput: {{ fluidBalance.volOutput }}
                    <hr>
                    CurrentBalance: {{ fluidBalance.currentBalance }}
                    <hr>
                    OverallInput: {{ fluidBalance.overallInput }}
                    <hr>
                    OverallOutput: {{ fluidBalance.overallOutput }}
                    <hr>
                    TimeStamp: {{ fluidBalance.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let otherAssessments of webService.otherAssessments_list | async">
                <div class="card-header">
                    <strong>OtherAssessments</strong>
                </div>
                <div class="card-body">
                    VipScore: {{ otherAssessments.vipScore }}
                    <hr>
                    TimeStamp: {{ otherAssessments.timeStamp }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor="let recordBloodSugar of webService.recordBloodSugar_list | async">
                <div class="card-header">
                    <strong>RecordBloodSugar</strong>
                </div>
                <div class="card-body">
                    BloodSugarLevel: {{recordBloodSugar.bloodSugarLevel}}
                    <hr>
                    Comment: {{recordBloodSugar.comment}}
                    <hr>
                    ClinicalComment: {{recordBloodSugar.clinicalComment}}
                    <hr>
                    TimeStamp: {{recordBloodSugar.timeStamp}}
                </div>
            </div>
        </div>
    </div>
</div>