<div class="card-header">
    <h6 id="title">Record Blood Sugar</h6>
    <div class="font-weight-bold" *ngFor="let patient of webService.patient_list | async">
        HSCNumber: {{patient.hscNumber}} - Name: {{patient.name}} - DOB: {{patient.dob}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="recordBloodSugarForm" (ngSubmit)="onSubmit()">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <label for="bloodSugarLevel">Blood Sugar Level*</label>
                                    <input type="bloodSugarLevel" id="bloodSugarLevel" pattern="[0-9]+([.][0-9]+)?"
                                        step="0.1" name="bloodSugarLevel" class="form-control" autocomplete="off"
                                        formControlName="bloodSugarLevel"
                                        [ngClass]="{ 'error': isInvalid('bloodSugarLevel') }">
                                </div>
                                <div class="form-group">
                                    <label for="clinicalComment">Clinical Comment*</label>
                                    <select id="clinicalComment" name="clinicalComment" class="form-control"
                                        formControlName="clinicalComment"
                                        [ngClass]="{ 'error': isInvalid('clinicalComment') }">
                                        <option id="cc0" value="Normal Result: No action taken">Normal Result: No action
                                            taken
                                        </option>
                                        <option id="cc1" value="Low Sugar: Extra feed given">Low Sugar: Extra feed given
                                        </option>
                                        <option id="cc2" value="Low Sugar: IVbolus and infusion increased">Low Sugar:
                                            IVbolus and
                                            infusion
                                            increased</option>
                                        <option id="cc3" value="Low Sugar: Hypopack taken">Low Sugar: Hypopack taken
                                        </option>
                                        <option id="cc4" value="High Sugar: Insulin given">High Sugar: Insulin given
                                        </option>
                                        <option id="cc5" value="High Sugar: Insulin commenced ">High Sugar: Insulin
                                            commenced
                                        </option>
                                        <option id="cc6" value="High Sugar: Urine check">High Sugar: Urine check
                                        </option>
                                        <option id="cc7" value="High Sugar: Insulin infusion increased">High Sugar:
                                            Insulin
                                            infusion increased
                                        </option>
                                        <option id="cc8" value="Other (please state)">Other (please state)</option>
                                    </select>
                                </div>
                            </th>
                            <th>

                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <input type="comment" id="comment" autocomplete="off" name="comment"
                                        class="form-control" formControlName="comment">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    <pre *ngIf="auth.userProfile$ | async as profile">
                                        <code>
                                            <input type="signature" id="signature" name="signature"
                                                    class="form-control" formControlName="signature" 
                                                    [ngModel]="profile.name | json" value="{{ profile.name | json }}"
                                                    readonly >
                                        </code>
                                    </pre>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold" for="signature">Signature*</label>
                                    
                                    <input type="signature" id="signature" name="signature" class="form-control"
                                        formControlName="signature">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <span id="noSubmit" class="font-weight-bold" *ngIf="isIncomplete()">
                    You must complete all required (*) fields
                    <hr>
                </span>
                <button id="submit" *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>

<div class="sticky">
    <div class="card-header">
        <a id="return" *ngFor="let patient of webService.patient_list | async" [routerLink]="['/patient', patient._id]"
            class="btn btn-primary" role="button">Return to Patient</a>
    </div>
</div>